<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Web Share File</title>
    </head>
    <body>
        <form action="/" method="POST" enctype="multipart/form-data">
            <dl>
                <label>Upload ifle</label>
                <input type="file" name="upload"/></br>
                <input type="submit" name="submit" value="Enviar"/></br>
            </dl>
        </form>
        <hr/>
        <ol>
            {% for f in files %}
                <li><a href="{{ f }}">{{ f }}</a></li>
            {% endfor %}
        </ol>
    </body>
</html>
